.card_admin_sidebar {
    height: 100%;
    background-color: #691c32;
    border-radius: inherit;
    position: relative;
}
.card_counter {
    background-color: #10312b;
}
.color_7 {
    color: #a36937;
}
.color_1 {
    color: #9f2241;
}
.color_6 {
    color: #10312b;
}
.color_darkred {
    background-color: darkred;
}
.color_green {
    background-color: darkgreen;
}
.button_add {
    background: #bc955c;
    border: 1px solid #bc955c;
    color: white;
    border-radius: 8px;
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button_add:hover {
    background: white;
    border: 1px solid #bc955c;
    color: #bc955c;
    border-radius: 8px;
    width: 110px;
}
.paginate_new {
    background-color: #dda3a6;
    color: gray;
}
.paginate_new:hover {
    background-color: #bc955c;
    color: gray;
}
.button_back_2 {
    background-color: #aa7729;
    border: 1px solid #aa7729;
    color: white;
    border-radius: 8px;
    width: 110px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button_back {
    background-color: #9f2241;
    color: white;
    border-radius: 8px;
    width: 110px;
    text-decoration: none;
    border: 1px solid #9f2241;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button_back:hover {
    background: white;
    color: #9f2241;
    border-radius: 8px;
    width: 110px;
    text-decoration: none;
    border: 1px solid #9f2241;
}
.button_back_2:hover {
    background: white;
    border: 1px solid #aa7729;
    color: #aa7729;
    border-radius: 8px;
    width: 110px;
}

.textTransform {
    text-transform: uppercase !important;
}
.box_animation {
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .padd_style {
        padding: 0px 15px 0px 45px;
    }
}

@media (min-width: 769px) {
}
